<div id="wrap">
  <section class="mainContent firstSection">
      <div class="container">
        <div class="row">
          <div class='col-sm-12 col-md-6'>
            <h1><span class="gimme thin">Gimme</span></br><b class="highlight">Genius</b></h1>
          </div>
          <div class='col-sm-12 col-md-6'>
            <div class="rightText">
              <h2><p class='lead'><span class="secondHighlight">Stop reinventing the wheel. Get the right genius, right now.</span><p><h2>
                <small>$1.50 per minute + $0.50 per call.<small>
              <p class="topMargin"><button type="button" class="btn btn-primary btn-lg startButton">Go Go Go!</button></p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="mainContent">
    <div class="container">
      <div class="thumbnails">
        <div class="row">
          <div class ='col-xs-12'>
            <p class='lead mainText gimme'>
              <span class="gimme thin">Gimme</span><b class="highlight">Genius</b> instantly connects you to the technical expert you need. Tell us what program you're working in (Excel, Photoshop, Powerpoint, Python, etc) and we'll find you a genius to remote in and help.
            </p>
          </div>
          <div class='col-sm-12 col-md-4'>
            <div class="title">
              <h2>Choose your program.</h2>
            </div>
            <div id="stepOne" class="steps">
            </div>
          </div>
          <div class='col-sm-12 col-md-4'>
            <div class="title">
              <h2>Describe your problem.</h2>
            </div>
            <div id="stepTwo" class="steps">
            </div>
          </div>
          <div class='col-sm-12 col-md-4'>
            <div class="title">
              <h2>Sit back and relax.</h2>
            </div>
            <div id="stepThree" class="steps">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
