@mixin clearfix{
  &:after{
    content:"";
    display:table;
    clear:both;
  }
}

/**
 * 	Link Generators
 */
@function generate-url($img){
  @return url("#{$imageRoot}#{$img}");
}

@mixin prevent-flicker{
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}